<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>增添学生</title>
	<link rel="stylesheet" type="text/css" href="<?php  echo base_url() .'style/index' ?>/css/stu-add.css">
</head>
<body>
<form method="POST" action="<?php echo site_url('index/student/stu_add') ?>">
	<div class="nav">
		<p>添加学生</p>
		<p>学号</p>
		<input type="text"  name="stu_id" placeholder="" />
		<p>姓名</p>
		<input type="text"  name="stu" placeholder="" />
		<p>专业</p>
		<input type="text"  name="stu_major" placeholder="" />
		<p>密码</p>
		<input type="password"  name="stu_passwd" placeholder="" />
		<p>性别</p>
		<select name="cardtype" style="width:160px;">
			<option value="id_card"></option>
   			<option value="id_card">男</option>
   			<option value="stu_card">女</option>
		</select>

		<br><br>
		<input type="submit" value="提交"  />
<!-- <a href="#">提交</a>
 -->		<input type="button" value="返回" onclick="javascript:history.back();">
	</div>
</form>
</body>
</html>